body{
    height: 100vh;
    width: 100vw;

}


.top{
    margin: 0 auto;
    border: 5px solid black;
    height: 30vh;
    width: 95vw;
}

.purple{
    display: inline-block;
    height: 150px;
    width: 50px;
    background: purple;
    margin: 75px 30px 15px 15px;

}

.green{
    display: inline-block;
    height: 215px;
    width: 325px;
    background: green;
    margin: 5px 30px 15px 0px;
}

.circle{
    height: 200px;
    width: 200px;
    background: lightblue;
    border-radius: 75%;
    display: inline-block;
    margin: 0px 0px 15px 20px;

}

.middle{
    margin: 25px auto;
    border: 5px dotted black;
    height: 30vh;
    width: 95vw;
}

.shadow{
    margin: 25px auto;
    height: 75%;
    width: 88%;
    background: tan;
    box-shadow: 10px 5px 5px black;
}

.hello{
    margin: 25px auto;
    height: 35vh;
    width: 60vh;
    box-shadow: 5px 5px 5px grey; 
    border: 1px solid grey;
}
h2{
    text-align: center;
    color: blue;
    margin: 110px auto;
}